.auctions-page-container {
    margin-top: 50px;
    max-width: 1200px; /* Limit the container width */
    padding: 0 50px;   /* Add padding on the left and right */
  }
  
  .auction-page-h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .auctions-page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Responsive two-column grid */
    gap: 40px; /* Gap between grid items */
    margin: 0 auto; /* Center the grid */
    max-width: 1200px; /* Limit the grid width */
    padding: 20px; 
  }
  