.portfolio-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .portfolio-card-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .portfolio-card-title {
    margin: 10px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .request-auction-button {
    display: block;
    margin: 10px auto 15px;
    padding: 8px 15px;
    font-size: 1rem;
    background: #83905a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .request-auction-button:hover {
    background-color: rgb(124, 135, 42);
  }
  