.portfolio {
    padding: 20px;
    margin-top: 50px;
  }
  

  .portfolio-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
  }
  
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .Add-art-button{
    background: rgb(244,241,225);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: x-large;
    text-align: center;
    color: rgb(223, 223, 130);
  }
  
  .Add-art-button:hover{
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(149, 148, 141);
  
  }

  .add-button-text{
    margin-bottom: 1rem;
  }