.settings-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f5f0; /* Off-white background */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #1c1c1c; /* Black */
  margin-bottom: 20px;
}

.section-settings {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #d4af37; /* Gold */
  border-radius: 12px;
}

.section-settings h2 {
  color: #1c1c1c;
  margin-bottom: 15px;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 10px;
}

.profile-pic-settings {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile-pic-settings:hover{
  border: 1px solid #d4af37;
}

.form-section-settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section-settings input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-section-settings button {
  padding: 12px;
  font-size: 16px;
  background-color: #d4af37; /* Gold */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section-settings button:hover {
  background-color: #b59431; /* Darker gold */
}

.form-section-settings input:focus {
  border-color: #d4af37;
  outline: none;
}

.section-settings img {
  display: block;
  margin: 0 auto 15px;
  
}

.toast-container {
  z-index: 11000;
}
